body {
        padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#feedback_box{
    border-top:1px solid #928e8e;
    border-radius:5px;
    margin-right: 50px;
}
#feedback_div{
    margin-top:10px;
}

#date_div{
    margin-top:10px;
}
#date_div li{
  margin-bottom:10px;
}